# Dossiers de dépendances
node_modules/

# Fichiers sensibles
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Build folders
dist
dist-ssr

# Fichiers et dossiers d'éditeurs (VSCode, JetBrains, etc.)
.DS_Store